[submodule "sim_reference/prunt_simulator"]
	path = sim_reference/prunt_simulator
	url = https://github.com/thhdragon/prunt_simulator.git
[submodule "sim_reference/prunt"]
	path = sim_reference/prunt
	url = https://github.com/thhdragon/prunt.git

